VITE_SUPABASE_URL=https://egptqjgsawgqbktgx1z.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVncHRxamdzYXdncWJrcXRneGx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5OTYwNDEsImV4cCI6MjA5NzU3MjA0MX0.Q5XpiHuajE11hMmDndoyi1mB2pSU06Y_mhkqSakwIMw
